@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");
@import './_normalize.css';
@font-face {
  font-family: "Garamond";
  src: url(../font/Garamond\ bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Fira Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

svg {
  display: block;
}

.section-head {
  font-family: "Garamond", serif;
  display: flex;
  justify-content: space-between;
  height: 67px;
  align-items: center;
  font-weight: 700;
}

.section-title {
  font-size: 48px;
}

.section-icon-wrapper {
  display: flex;
  font-size: 24px;
  align-items: center;
  color: #191919;
}

.section-icon {
  width: 35px;
  height: 35px;
  margin-right: 34px;
}

.slider-section {
  margin-top: 60px;
}

.slider-container {
  position: relative;
  display: flex;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  height: 497px;
  min-width: 525px;
  border-radius: 12px;
}

.slider__btns {
  margin-left: 24px;
}

.slider__btn {
  height: 104px;
  border-radius: 8px;
  padding: 12px 16px;
  border: transparent;
  margin-bottom: 16px;
  width: 416px;
  background: rgba(25, 25, 25, 0.0509803922);
  display: flex;
  align-items: center;
}

.slider__btn-icon {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin-right: 24px;
}

.header {
  background: #191919;
  min-width: 1156px;
}

.header__first {
  display: flex;
  align-items: center;
  height: 104px;
  justify-content: space-between;
  position: relative;
}

.logo {
  min-width: 325px;
  height: 12px;
}

.menu__list {
  display: flex;
  font-weight: 600;
}

.menu__item {
  margin-right: 48px;
  position: relative;
}
.menu__item::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  border-radius: 1px;
  transform: rotate(45deg);
  right: -28px;
  top: 6px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:last-child::after {
  display: none;
}

.event-section {
  margin-top: 184px;
}

.event__item {
  background: rgba(25, 25, 25, 0.0509803922);
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 32px 60px;
  min-width: 1076px;
  margin-bottom: 80px;
}
.event__item:last-child {
  margin-bottom: 0;
}

.event__item-date {
  font-family: "Garamond", serif;
  font-weight: 700;
  margin-right: 62px;
}

.event__item-date-1 {
  width: 79px;
  height: 90px;
  opacity: 75%;
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event__item-date-2 {
  opacity: 75%;
  font-size: 32px;
}

.event__item-icon {
  width: 320px;
  height: 240px;
  border-radius: 12px;
  margin-right: 62px;
}

.event__item-info {
  max-width: 415px;
}

.event__item-title {
  font-family: "Garamond", serif;
  font-weight: 700;
  font-size: 32px;
  height: 90px;
}

.event__item-subtitle {
  opacity: 75%;
  margin-top: 16px;
  margin-bottom: 40px;
}

.event__item-options {
  display: flex;
}

.event__item-option {
  display: flex;
  align-items: center;
  margin-right: 30px;
  opacity: 75%;
}
.event__item-option:last-child {
  margin-right: 0;
}

.option {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

.btn {
  min-width: 175px;
  height: 51px;
  border-radius: 50px;
  background: #05B093;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}
.btn:hover {
  background: gold;
  box-shadow: 0 -200px 100px -120px rgb(39, 160, 80) inset;
  animation: background 3s infinite alternate;
}
@keyframes background {
  50% {
    background: skyblue;
    box-shadow: 0 -200px 100px -100px yellowgreen inset;
  }
  70% {
    background: rgb(221, 210, 58);
    box-shadow: 0 -200px 100px -100px rgb(11, 219, 105) inset;
  }
}

.btn--calendar {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  background-color: #05B093;
  border: 1px solid transparent;
  position: relative;
}
.btn--calendar-left {
  margin-right: 8px;
}
.btn--calendar-right {
  margin-right: 70px;
}
.btn--calendar-left::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  top: 13px;
  background-color: white;
  transform: rotate(-135deg);
}
.btn--calendar-left::before {
  position: absolute;
  content: "";
  width: 1px;
  transform: rotate(135deg);
  height: 12px;
  background-color: white;
  top: 22px;
}
.btn--calendar-right::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  top: 13px;
  background-color: white;
  transform: rotate(135deg);
}
.btn--calendar-right::before {
  position: absolute;
  content: "";
  width: 1px;
  transform: rotate(-135deg);
  height: 12px;
  background-color: white;
  top: 22px;
}

.news-calendar-container {
  display: flex;
  justify-content: space-between;
}

.news-calendar {
  margin-top: 136px;
}

.news__list {
  margin-top: 60px;
  display: flex;
}

.news__item {
  max-width: 306px;
  margin-right: 24px;
}
.news__item:last-child {
  margin-right: 0;
}

.news__icon {
  height: 204px;
  border-radius: 12px;
}

.news__title {
  font-family: Garamond;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 32px;
}

.news__text {
  opacity: 75%;
  margin-top: 24px;
}

.calendar__icon-wrapper {
  position: relative;
  background: rgba(25, 25, 25, 0.0509803922);
}
.calendar__icon-wrapper::after {
  content: "Обзорные экскурсии";
  position: absolute;
  font-family: Garamond;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  bottom: 24px;
  left: 24px;
}

.calendar__icon {
  border-radius: 12px, 12px, 0px, 0px;
  max-width: 526px;
}

.calendar__info {
  display: flex;
  height: 264px;
  padding: 24px;
  background: rgba(25, 25, 25, 0.0509803922);
  border-radius: 0 0 12px 12px;
}

.calendar__info-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar__month {
  font-family: Garamond;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

.calendar__btns {
  display: flex;
}

th {
  width: 40px;
  height: 40px;
  background: rgba(25, 25, 25, 0.3019607843);
  font-weight: 600;
  color: white;
  border-radius: 4px;
  margin: 4px;
}

.calendar__th-green {
  background: #05B093;
}

table {
  border-spacing: 4px;
  border-collapse: separate;
}

.preview-section {
  margin-top: 203px;
}

.preview__list {
  display: flex;
  margin-top: 100px;
  justify-content: space-around;
}

.preview__link {
  display: flex;
  align-items: center;
}

.preview__date {
  background-color: #05B093;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin-right: 27px;
}
.preview__date-1 {
  font-family: Garamond;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}
.preview__date-2 {
  font-family: Garamond;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.preview__text {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #191919;
}

.footer {
  background: #191919;
  padding-top: 60px;
  color: #FFFFFF;
  min-width: 1152px;
  margin-top: 150px;
}

.footer__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__logo {
  margin-right: 110px;
  height: 65px;
}

.footer__event-title, .footer__contacts-title {
  font-family: Garamond;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 32px;
}

.footer__evnet-list {
  display: flex;
  margin-right: 186px;
}

.footer__evnet-item {
  margin-right: 24px;
}
.footer__evnet-item:last-child {
  margin-right: 0;
}

.contacts-text {
  display: flex;
  flex-direction: column;
  height: 114px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer__ps {
  text-align: center;
  padding: 32px 0;
  opacity: 50%;
  border-top: 1px solid rgba(227, 210, 209, 0.45);
}

.burger {
  display: none;
}
.burger::before {
  position: absolute;
  content: "";
  width: 53px;
  height: 100px;
  right: 3px;
}
.burger:hover + .menu {
  display: block;
  position: absolute;
  right: 1px;
  background: black;
  top: 42px;
}

.burger__line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin-bottom: 3px;
  border-radius: 3px;
}

details summary::marker {
  display: none;
  width: 100px;
}

@media (max-width: 1173px) {
  .header {
    max-width: 700px;
  }
  .menu {
    display: none;
  }
  .menu__list {
    flex-direction: column;
  }
  .burger {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */