.calendar__icon-wrapper {
    position: relative;
    background: #1919190D;

    &::after {
        content: "Обзорные экскурсии";
        position: absolute;
        //styleName: heading/32b;
        font-family: Garamond;
        font-size: 32px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        bottom: 24px;
        left: 24px;
    }
}

.calendar__icon {
    border-radius: 12px, 12px, 0px, 0px;
    max-width: 526px;
}

.calendar__info {
    display: flex;
    height: 264px;
    padding: 24px;
    background: #1919190D;
    border-radius: 0 0 12px 12px;
}

.calendar__info-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar__month {
    font-family: Garamond;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}

.calendar__btns {
    display: flex;
}

th {
    width: 40px;
    height: 40px;
    background: #1919194D;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    margin: 4px;
}

.calendar__th-green {
    background: #05B093;
}

table {
    border-spacing: 4px; border-collapse: separate;
}

