.header {
    background: #191919;
    min-width: 1156px;
}

.header__first {
    display: flex;
    align-items: center;
    height: 104px;
    justify-content: space-between;
    position: relative;
}

.logo {
    min-width: 325px;
    height: 12px;
}

.menu__list {
    display: flex;
    font-weight: 600;
}

.menu__item {
    margin-right: 48px;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        background-color: #FFFFFF;
        border-radius: 1px;
        transform: rotate(45deg);
        right: -28px;
        top: 6px;
    }

    &:last-child {
        margin-right: 0;
    }

    &:last-child::after {
        display: none;
    }

}